<template name="Navbar">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'landing'}}">
                    <img src="/img/logo.png" class="logo">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{texts.search}}                            
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{pathFor 'caregivers.search'}}">{{texts.caregivers}}</a>
                            </li>
                            <li>
                                <a href="{{pathFor 'jobs.search'}}">{{texts.jobs}}</a>
                            </li>
                        </ul>
                    </li>
                    {{#if currentUser}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{currentUser.fullName}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{pathFor 'dashboard'}}">
                                        <i class="fa fa-briefcase "></i>
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="{{pathFor 'chat'}}">
                                        <i class="fa fa-envelope "></i>
                                        Messages
                                    </a>
                                </li>
                                <li>
                                    <a href="{{pathFor 'profile.edit'}}">
                                        <i class="fa fa-user "></i>
                                        Edit Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{pathFor 'settings'}}">
                                        <i class="fa fa-cog "></i>
                                        Account settings
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="logout">
                                        <i class="fa fa-sign-out "></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {{else}}
                        <li>
                            <a href="{{pathFor 'account'}}">{{texts.acc}}</a>
                        </li>
                    {{/if}}
                    <li>
                        <span class="navbar-divider">|</span>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            {{#if isTc}}中文
                            {{else}}English
                            {{/if}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="?lang=en">English</a>
                            </li>
                            <li>
                                <a href="?lang=tc">中文</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</template>