.dashbar {
    padding-top: 20px;
    padding-bottom: 10px;

    .col-xs-3 {
        opacity: 0.4;
    }

    a {
        display: block;
        border: none;
        background: none;
        color: white;
        
        p { font-size: 18px }
    }

    .active {
        opacity: 1;
    }
}

.dashboard-logo {
    font-size: 40px;
    padding: 5px;
}
