.dashbody {
    border-top: 1px solid $lightgrey; /* border between dashboard tabs */
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: $pastelyellow;

    h1 {
        color: $red;
        text-shadow: 1px 1px 1px $grey;
    }

    h3 {
        color: $blue;
        text-shadow: 1px 1px 1px $grey;        
    }
}

.button-col {
    text-align: right; /* new job button */

    a {
        margin-top: 20px;
    }
}

.reviewpic-row {
    margin-bottom: 20px;
}

.review-photo {
    max-width: 160px;
    height: 160px;
    border-radius: 50%;
}