.postjob-steps { /* pill color change */

    li {

        a {
            color: $pureblack;
            opacity: 0.5;
            &:hover, &:focus {
                background-color: #fff;
            }
        }
        &.active {
            a {
                opacity: 1;
            }
        }
    }
    li .heart-bg {
        background-color: pink;
        color: red;
        border-radius: 50%;
        padding: 10px 20px;
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .postjob-steps {
        margin: 20px 0px;
    }
}

/* form styles */

.add-time {
    i {
        margin-top: 8px;
    }
}

/* UPLOAD BUTTON  */
.inputfile { /* hide upload button */
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 16px;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}

.inputfile + label * { /* touch screen */
	pointer-events: none;
}

.checkbox-collection {
    margin-bottom: 20px;
}