@media (min-width: 768px) {
    .profile-sidebar {
        margin-top: -70px;
    }
}

.profile-sidebar {

    // background-color: $black;
    // color: $white;

    /* black bar */
    .location-bar {
        color: $black;
        font-weight: bold;
        background-color: $yellow;
        padding: 15px 25px 5px 25px; /* top right bottom left */
        margin-left: -15px; /* fix until collaspe */
    }
    
    .sidebar-section {
        padding: 10px 10px 0px 10px;
    
        h3, h5 {
            font-weight: bold;
            text-shadow: 1px 1px 1px $grey;
        }
    
        h3 {
            margin: 0 -10px 0 -25px;
            padding: 10px 15px;
            background-color: $blue;
            color: $white;

            .btn {
                float: right;
                margin-top: -5px;
            }
        }
        h5 {
            margin-top: 25px;
            color: $blue;
        }
    }
    
    .checks > h5 {
        color: $red;
        text-shadow: none;
        &.true {
            color: $green;
        }
        margin-top: 5px;
    }

}
