.profile-cover {
    position: relative;
    background-color: $grey;
    height: 300px;
    padding: 0;
    .carousel .item {
        text-align: center;
        img {
            height: 300px;
            margin: auto;
        }
    }
}
