/* search filters */
.search-text { /* entire column, master div */
    background-color: $red;
    padding-top: 15px;
    padding-bottom: 10px;
    color: $white;

    .nav-pills {

        li {
            a {
                display: block;
                &:focus {
                    background-color: $white;
                    color: $black;
                }
                &:hover {
                    background-color: $red;
                } 
            }
        }

        > li {

            &.open > a, > a:hover, > a:active {
                background-color: $white;
                color: $red;
            }
        }

        .dropdown-menu {
            width: auto;
            font-size: 13px;
            
            li {
                list-style-type: none;

                &.col-sm-6 {
                    padding: 0 5px;
                }

                a {
                    text-decoration: none;

                    &.active {
                        background-color: $darkred;
                        color: $white;
                    }
                }
            } 

            ul {
                padding: 0;
                min-width: 80px;
            }
            a {
                color: $black;
                &:hover {
                    color: $white;
                }
            }
            .filter-action { margin-top: 10px; }
        }
    }

    .nav li a {
        color: $white;
    }
}

.filter { /* filter categories */
    cursor: pointer;
    color: $purewhite;
    margin-top: 30px;

    .control-label { display: none; }

    .btn {
        text-align: left;
        &.active{
            background-color: $darkred;
            border-radius: 5px;
        }
    }
}

.display-toggle .btn {
    background-color: $white;
    border: solid 1px #aaa;
}

/* search body CONTAINING ALL THE CARDS*/
.search-body {
    background-color: $lightpink;
    padding-top: 20px;
    padding-bottom: 20px;
    
    h2 {
        text-shadow: 1px 1px 1px $blue;
    }
}

.card-container {
    height: min-content;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ad-container {
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media ( min-width: 992px ) and ( max-width: 1150px ) {
    .ad-container {
        height: 500px;
    }
}

.search-card { /* a search profile */
    background-color: $purewhite;
    border: 1px solid #aaa;
    margin: 0 5px; /* top right bottom left */
    cursor: pointer;
    position: relative; /* so the link spanner spans to the card */
    height: 100%;

    .card-header {
        font-weight: bold;
        text-shadow: 1px 1px 1px $red;
    }

    .card-dp {
        width: 100%;
        background-color: $lightgrey;
        padding: 2px 0;
        text-align: center;
        height: min-content;

        div { 
            width: 60%;
            padding-bottom: 60%;
            margin: auto;
            background-size: 100% 100%;
        }
    }

    .price {
        float: right;
        position: relative;
        display: inline;
        top: -45px;
        padding: 10px;
        background-color: rgba($color: $pureblack, $alpha: 0.7);
        color: $purewhite;
    }

    .card-desc { /* div for container below image */
        padding: 12px 20px;

        .card-about {
            margin-top: 15px;
        }

        h4 {
            font-weight: bold;
        }

        h4, p { /* for the name and other desc. */
            margin-bottom: 3px;
        }

        a {
            color: $pureblack;
        }

        .label-success {
            background-color: $darkgreen;
            font-size: 12px;
        }

        .job-period {
            text-align: center;
            text-shadow: 1px 1px 1px $red;
            font-size: 18px;
            border-top: 1px solid $grey;
            border-bottom: 1px solid $grey;
            padding: 10px 0;
        }
    }

    .msg, .fav {
        z-index: 2;
        position: absolute;
        right: 2px;
        width: 36px;
        padding: 5px 10px;
        border-radius: 50%
    }
    .fav {
        top: 2px;
        .fa-heart {
            color: $red;
        }
    }
    .msg {
        top: 34px;
    }

    .fa-star, .fa-star-half-o {
        color: $yellow;
    }
    &.job-ad {
        .ad-dp {
            padding: 5px 0 0 20px;
            img { width: 100%; }
        }
        .job-header {
            padding-top: 10px;
        }
        .card-desc {
            padding-top: 0;
            margin-top: -10px;
        }
    }
}

.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.list-result {

    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    background-color: $white;
    border-radius: 5px;
    // height: 100px;

    a {
        color: black;
    }
    .list-dp {
        width: 100%;
        text-align: center;
        height: min-content;

        div { 
            width: 100%;
            padding-bottom: 100%;
            margin: auto;
            background-size: 100% 100%;
        }
    }
    .list-desc {
        span {
            margin-right: 10px;
        }
        .h3 {
            font-weight: bold;
        }
        p {
            margin-top: 5px;
        }
        .label-success {
            background-color: $darkgreen;
            font-size: 12px;
        }
    }
    .card-header {
        font-weight: bold;
        text-shadow: 1px 1px 1px $red;
    }
}

@media (min-width: 768px) {
   .row.equal { /* make both cols equally long */
     display: flex;
     flex-wrap: wrap;
   }

   .search-text .nav-pills .dropdown-menu {
       width: 500px;
       font-size: 14px;

       &.technical-filter {
           width: 700px;
           left: -100px;
       }

       &.last-filter {
           left: -50px;
       }
   }

   .card-container {
       height: 500px;
   }
}

@media (min-width: 992px) {
    .card-container {
        height: 400px;
    }
}

@media (min-width: 1250px) {
    .card-container {
        height: 450px;
    }
}
