.static {
    padding-top: 50px;

    h2 {
        // text-shadow: 1px 1px 1px $grey;
        font-weight: bold;
    }

    p {
        opacity: 1;
    }

    li {
        list-style-image: url('/img/heart.jpg');
        list-style-position: outside;
    }

    .diagrams {
        margin-top: 30px;
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }

    .dream-team {
        text-shadow: 1px 1px 1px $blue;
        text-align: center;
    }

    .faqs {

        .panel { margin-top: 10px; }

        .panel-heading {
            background-color: $white;

            a {
                color: $black;
                transition: 0.2s;
                h3 { font-size: 18px; }

                &:hover, &:focus { color: blue; }
            }

            i { margin-right: 10px; }
        }

        li.list-group-item {
            
            img { margin-right: 10px; }
        }
    }
}

.static-header {
    
    img.header-image {
        top: 4px;
        width: 40%;
    }
}

.contact-details {
    padding-top: 50px;
    
    p { font-size: 16px; }

    i.fa { position: absolute; left: -10px; margin-top: 5px; }
}