<template name="Footer">
    <div class="container-fluid footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>{{texts.left.head}}</h3>
                    <ul class="list-unstyled">
                        <a href="/terms"><li>{{texts.left.terms}}</li></a>
                        <a href="/privacy"><li>{{texts.left.privacy}}</li></a>
                        <a href="/insurance"><li>{{texts.left.insurance}}</li></a>
                        <a href="/community"><li>{{texts.left.community}}</li></a>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>{{texts.right.head}}</h3>
                    <ul class="list-unstyled">
                        <a href="/about"><li>{{texts.right.about}}</li></a>
                        <a href="/contact"><li>{{texts.right.contact}}</li></a>
                        <a href="/faq"><li>{{texts.right.faq}}</li></a>
                        <a href="/blog"><li>{{texts.right.blog}}</li></a>
                    </ul>
                </div>
                <div class="col-sm-6 logo-container">
                    <a href="https://twitter.com/HLO_Caregivers">
                        <img src="/img/footer/twitter.png" class="footer-logo">
                    </a>
                    <a href="https://www.facebook.com/HealthyLovedOnes/">
                        <img src="/img/footer/facebook.png" class="footer-logo">
                    </a>
                    <a href="">
                        <img src="/img/footer/googleplus.png" class="footer-logo">
                    </a>
                    <a href="https://www.linkedin.com/company/healthylovedones/">
                        <img src="/img/footer/linkedin.png" class="footer-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>