<template name="Footer">
    <div class="container-fluid footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>Quick Links</h3>
                    <ul class="list-unstyled">
                        <li>How it works</li>
                        <li>Terms of Use</li>
                        <li>Privacy Policy</li>
                        <li>Insurance Policy</li>
                        <li>Community Guidelines</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li>About Us/Dream Team</li>
                        <li>Contact Us</li>
                        <li>Q&amp;A with CEO</li>
                        <li>Careers/Be a True Believer</li>
                        <li>Press</li>
                        <li>Blog</li>
                        <li>Newsletter</li>
                    </ul>
                </div>
                <div class="col-sm-6 logo-container">
                    <img src="img/footer/twitter.png" class="footer-logo">
                    <img src="img/footer/facebook.png" class="footer-logo">
                    <img src="img/footer/googleplus.png" class="footer-logo">
                    <img src="img/footer/linkedin.png" class="footer-logo">
                </div>
            </div>
        </div>
    </div>
</template>