<template name="DashboardLayout">
    <div class="header">
        
        <div class="header-image-col">
            <img src="img/infopage/pluses.png" class="header-image">
        </div>

        <div class="container-small dashbar">
            <!-- dashboard tabs -->
            <div class="row text-center">
                <a class="col-xs-3 {{isActiveRoute regex='dashboard|jobs.new|job.edit|favorites'}}" href="{{pathFor 'dashboard'}}">
                    <i class="fa fa-briefcase dashboard-logo"></i>
                    <p>
                        <span class="faded">Jobs</span>
                        {{#if jobNotifications}}
                        <span class="badge">{{jobNotifications}}</span>
                        {{/if}}
                    </p>
                </a>
                <a class="col-xs-3 {{isActiveRoute regex='chat|conversation'}}" href="{{pathFor 'chat'}}">
                    <i class="fa fa-envelope dashboard-logo"></i>
                    <p>
                        <span class="faded">Messages</span>
                        {{#if msgNotifications}}
                        <span class="badge">{{msgNotifications}}</span>
                        {{/if}}
                    </p>
                </a>
                <a class="col-xs-3 {{isActiveRoute 'profile.edit'}}" href="{{pathFor 'profile.edit'}}">
                    <i class="fa fa-user dashboard-logo"></i>
                    <p class="faded">Profile</p>
                </a>
                <a class="col-xs-3 {{isActiveRoute regex='settings|settings.username|settings.emails|settings.passwords|settings.payment'}}"
                    href="{{pathFor 'settings'}}">
                    <i class="fa fa-cog dashboard-logo"></i>
                    <p class="faded">Settings</p>
                </a>
            </div>
        </div>
    </div>

    <div class="dashbody">
        {{> Template.dynamic template=content}}
    </div>
</template>