.header {
    background-color: $red;
    color: $purewhite;
    // padding: 20px 0px 30px 0px;

    .header-image-col {
        text-align: left;
        padding-right: 30px;
    }

    .header-image {
        width: 20%;
        position: absolute;
        right: 20px;
        top: 85px;
    }
}
