<template name="LoginLayout">
    <div class="row">
        <div class="col-sm-7 login-column">
            <a href="{{pathFor 'landing'}}">
                <img src="img/logo2.png" class="login-logo" />
            </a>
            {{> Template.dynamic template=main}}
        </div>
        <div class="col-sm-5 why-hlo">
            <div class="why-hlo-desc">
                <h3>{{texts.head}}</h3>
                {{#each item in texts.list}}
                    <p><i class="fa fa-heart" aria-hidden="true"></i>{{item}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</template>