<template name="LoginLayout">
    <div class="row">
        <div class="col-sm-7 login-column">
            <a href="{{pathFor 'landing'}}">
                <img src="img/logo2.png" class="login-logo" />
            </a>
            {{> Template.dynamic template=main}}
        </div>
        <div class="col-sm-5 why-hlo">
            <div class="why-hlo-desc">
                <h3>Why HealthyLovedOnes?</h3>
                <p><i class="fa fa-heart" aria-hidden="true"></i> Receive Tender Loving Care from Caregivers</p>
                <p><i class="fa fa-heart" aria-hidden="true"></i> Guarenteed payment</p>
                <p><i class="fa fa-heart" aria-hidden="true"></i> Insurance covered</p>
                <p><i class="fa fa-heart" aria-hidden="true"></i> Join a community of people with big hearts</p>
            </div>
        </div>
    </div>
</template>